<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Sucesso</title>
</head>
<body>
    <div class="container my-5">
        <h1>Mensagem Enviada com Sucesso!</h1>
        <p>Obrigado por entrar em contato. Em breve responderemos sua mensagem.</p>
        <a href="/" class="btn btn-primary">Voltar para a Home</a>
    </div>
</body>
</html>
