body {
    height: 100vh;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 10px;
    height: 100%;
}

.col1, .col2, .col3 {
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
}

.footer {
    grid-column: 1 / 4;
    background-color: darkcyan;
    padding: 20px;
    text-align: center;
}
