@font-face {
  font-family: "Becket";
  src: url("../fonts/Becket.ttf") format("truetype");
}

@font-face {
  font-family: "Olden";
  src: url("../fonts/Olden.ttf") format("truetype");
}

@font-face {
  font-family: "Pricedown";
  src: url("../fonts/Pricedown.otf") format("truetype");
}

@font-face {
  font-family: "Cyber";
  src: url("../fonts/Cyber.ttf") format("truetype");
}

:root {
  --fundo: #00000000;
  --fonte1: #e1f3fc;
  --fonte2: #8b9cae;
}

* {
  margin: 0;
  padding: 0;
  cursor: url("/static/images/mouse.png"), auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--fundo);
  background-image: url('/static/images/bgmenu.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nome {
  display: flex;
  color: white;
  font-family: Olden;
  margin: 2%;

  height: 40px;
}

.container {
  display: grid;
  grid-template-areas: 
      "perfil perfil perfil"
      "foto sobre sobre"
      "objetivo objetivo objetivo"
      "extra extra extra";
  gap: 20px;
  margin: 20px;
  width: 80%;
}

.perfil {
  grid-area: perfil;
  font-family: "Cyber", sans-serif;
  color: var(--fonte1);
  text-align: center;
}

.foto {
  grid-area: foto;
  width: 200px;
  height: auto;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.sobre {
  grid-area: sobre;
  color: var(--fonte1);
  font-family: "Cyber", sans-serif;
}

.objetivo {
  grid-area: objetivo;
  color: var(--fonte1);
  font-family: "Cyber", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.extra {
  grid-area: extra;
  color: var(--fonte1);
  font-family: "Cyber", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--fundo);
  margin-top: 25%;
  width: 80%;
}

.button {
  padding-left: 50px;
  font-family: "Cyber", sans-serif;
  font-size: 150%;
  color: var(--fonte2);
  border: none;
  background-color: var(--fundo);
  transition: color 0.3s ease;
  outline: none;
}

.button:hover,
.button:focus {
  color: var(--fonte1);
}

.player {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 2%;
}

#volume {
  width: 150px;
}
